# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directory
venv/

# IDE and editor-specific files
.vscode/
.idea/

# Environment files
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/